<h1>Editing Charity Oraganization</h1>

<%= render 'form', charity_oraganization: @charity_oraganization %>

<%= link_to 'Show', @charity_oraganization %> |
<%= link_to 'Back', charity_oraganizations_path %>
