<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @charity_oraganization.name %>
</p>

<%= link_to 'Edit', edit_charity_oraganization_path(@charity_oraganization) %> |
<%= link_to 'Back', charity_oraganizations_path %>
